.home-container {
    width: 100%;
    padding-top: 65px;
    display: flex;
    position: relative;
}

.image-container {
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.image1 {
    height: 100vh;
    animation: zooming 10s linear infinite;
}
@keyframes zooming {
    from {
        transform: scale(1.0);
    }
    to {
        transform: scale(1.2);
    }
}

.glassmorph {
    position: absolute;
    height: 100px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0);
    transform: scale(1);
    border-radius: 25px;
    backdrop-filter: saturate(180%) blur(15px);
    color: white;
    top: 80%;
    right: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: ALlenoire;
    font-size: 25px;
}

.arrow-container {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0);
    transform: scale(1);
    border-radius: 25px;
    backdrop-filter: saturate(180%) blur(15px);
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-container.right-arrow {
    right: 40px;
}

.arrow-container.left-arrow {
    left: 40px;
}

.arrow {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.corner-image {
    height: 180px;
    filter: brightness(0) invert(1);
    position: absolute;
}

.corner-image.left-corner {
    bottom: 0px;
    left: 0px;
}

.corner-image.right-corner {
    bottom: 0px;
    right: 0px;
    transform: scaleX(-1);
}