.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 20px;
    z-index: 99;
    position: fixed;
    top: 0;
  }
  
  .toggle-button {
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-family: Allenoire;
  }
  
  li {
    margin-right: 20px;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
  
    .toggle-button {
      order: 1;
    }
  
    ul {
      order: 2;
      display: none;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 8px;
      font-size: 18px;
      margin-top: 10px;      
      width: 100%;    
    }
  
    li {
      margin-right: 0;
      margin-bottom: 10px;
    }
    ul.open {
        display: flex;
    }
  }